.page.dashboard-articles {
    .articles-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: -12px;
        @media screen and (max-width: 600px) {
            position: relative;
        }
    }
}