.page.homepage-authentication {
    min-height: 100vh;
    background: #0e1e25;

    color: white;

    display: flex;
    justify-content: center;

    h1 {
        font-size: 36px;
        font-weight: 300;
        line-height: 48px;
        margin-bottom: 52px;
        text-align: center;
        margin-top: 150px;
    }

    .form {
        padding: 32px 40px 40px;
        width: 70%;
        margin: 0 auto;

        button {
            margin-top: 20px;
        }
    }
}