.page.dashboard-galleries {
    .galleries-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: -12px;
        margin-top: -15px;
        @media screen and (max-width: 600px) {
            position: relative;
        }
    }
    .c-div {
        @media screen and (max-width: 600px) {
            width: 100%;
        }
        
        width: fit-content;
    }
}



input[type="file"] {
    display: none;
}

.dialog-gallery-edit {
    .gallery-photos-container {
        margin-left: -10px;
    }
}