.page.dashboard-galleries {
    .galleries-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -12px
    }
}



input[type="file"] {
    display: none;
}

.dialog-gallery-edit {
    .gallery-photos-container {
        margin-left: -10px;
    }
}