.root {
    flex-grow: 1;
    height: 440px;
    z-index: 1;
    overflow: hidden;
    position: relative;
    display: flex;
}

.drawer-paper {
    position: relative;
    width: 240px;

    div+div {
        width: 240px !important;
    }

}

.MuiListItem-root-91 {
    padding-top: 13px !important;
    padding-bottom: 13px !important;
}


.signout-icon {
    g {
        path {
            fill: #fafafa
        }
    }
}