.root {
    flex-grow: 1;
    height: 440px;
    z-index: 1;
    overflow: hidden;
    position: relative;
    display: flex;
}

.dark {
    .drawer-paper {
        >div {
            background-color: #0e1e25 !important;
        }

        .list-item {
            background-color: #0e1e25;
            color: #e3e3e3;

            svg {
                fill: #e3e3e3;
            }
        }

        .route-text {
            span {
                color: #e3e3e3;
            }
        }
    }
}

.light {
    .drawer-paper {
        >div {
            background-color: white !important;
        }

        .list-item {
            background-color: white;
            color: #0e1e25 !important;

            svg {
                fill: #0e1e25;
            }
        }
        .route-text {
            span {
                color: #0e1e25;
            }
        }
    }
}

.drawer-paper {
    position: relative;
    width: 240px;

    div+div {
        width: 240px !important;
    }

}

.MuiListItem-root-91 {
    padding-top: 13px !important;
    padding-bottom: 13px !important;
}


.signout-icon {
    g {
        path {
            fill: #fafafa
        }
    }
}

.list-item {
    padding-left: 24px !important;
    padding-right: 24px !important;

    &.active {
        background-color: rgba(0, 0, 0, 0.09);

        div {
            background-color: rgba(0, 0, 0, 0);
        }
    }
}

.toolbar {
    background: #00ad9f;
    display: flex;
    align-items: center;
    // justify-content: center;
    h1 {
        margin: 0 auto;
        font-size: 1.75em;
        color: white;
    }
}