body, html, #root,.app,.app-container {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
}

.app {
    div.page {
        padding-top: 85px;
        padding-left: 275px;
        padding-right: 25px;
        min-height: calc(100% - 85px);

        @media screen and(max-width: 960px) {
            padding-left: 25px;
        }

        h1 {
            font-size: 36px;
            font-weight: 300;
            line-height: 48px;
        }
    }
}
.dark {
    input,textarea {
        color: white!important;
    }
    div.page {
        background-color: #0e1e25fa;
    }
    h1,h2,h3,h4,h5 {
        color: #e3e3e3!important;
    }
}
.light {
    div.page {
    }
    h1 {
        color: #0e1e25;
    }
}

h1,h2,h3,h4,h5 {
    font-weight: 300;
    line-height: 48px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h1,h2,h3,p {
    margin: 0;
}

a {
    text-decoration: none!important;
    color: rgba(0, 0, 0, 0.87)!important;
}

.hide-desktop {
    @media screen and (min-width: 960px) {
        display: none!important;
    }
}

.fab {
    position: absolute!important;
    bottom: 15px;
    right: 15px;
}

.divider {
    border-color: #eef1f6;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.menu-appbar {
    *:focus {outline:0;}
}

.MuiTypography-body1-50 {
    line-height: 1.75!important;
}

.button-danger {
    color: white!important;
    background-color: #f44336!important;

    &:disabled {
        opacity: 0.6;
    }
}
.button-danger-outlined {
    border-color: #f44336!important;
    color: #f44336!important;
}

.value-container {
    display: flex!important;
    flex-wrap: wrap!important;
    flex: 1!important;
    align-items: center!important;
    overflow: hidden!important;
}

.select-placeholder {
    position: absolute!important;
    left: 2px!important;
    font-size: 16px!important;
}

.select-menu {
    position: absolute!important;
    z-index: 1!important;
    margin-top: 8px!important;
    left: 0!important;
    right: 0!important;
}

.select-input {
    flex: 1!important;
    padding: 0!important;
}

.title-div {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    h1 {
        display: inline-block!important;
        margin-right: 15px;
    }
}

.margin-10 {
    margin: 10px;
}

.progress {
    margin-top: 6px;
    position: absolute;

    .circular {
        margin-top: 24px!important;
        position: absolute;
    }
}


.red-text {
    color: #e74c3c!important;
}