.album {
    width: 350px;
    min-height: 150px;

    position: relative;
    

    .media {
        height: 0;
        padding-top: 56.25%;
    }

    .bottom {
        height: 50px;
        position: relative;
        bottom: 0px;
        left: 5px;
        font-size: 12px;
        opacity: 0.8;
        display: flex;
        align-items: center;

        svg {
            margin-left: 5px;
        }

        span.updated-at {
            margin-left: 6px;
        }
        .open-button {
            margin-left: auto;
            margin-right: 20px;
        }
    }
}