.page.dashboard-projects {
    .projects-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -12px
    }
}

.dialog-content {
    padding-top: 15px!important;
    @media screen and(max-width: 960px) {
        margin-left: 0px;
    }
    margin-left: 50px;

    .url-input {
        width: calc(100% + 8px);
    }
}
.topbar {
    position: relative!important;
}

.remove-button {
    cursor: pointer;
}
.no-padding {
    padding-right: 0px!important
}