.page.dashboard-projects {
    .projects-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -12px
    }
}

.dialog-content {
    margin-top: 15px;
    margin-left: 15px;

    .url-input {
        width: calc(100% + 8px);
    }

    .title-div {
        display: flex;
        margin-bottom: 15px;
        h1 {
            display: inline-block!important;
            margin-right: 15px;
        }
    }
}
.topbar {
    position: relative!important;
}

.remove-button {
    cursor: pointer;
}