.page.dashboard-storage {
    .files-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -12px;
        @media screen and(max-width: 960px) {
            margin-left: -22px;
        }
    }
}