.page.dashboard-my-sites {
    padding-left: 0 !important;
    width: 80%;
    margin: 0 auto;
    // padding-top: 100px!important;
    // min-height: 0!important;

    .sites-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -12px
    }
}