.page.dashboard-my-sites {
    padding-left: 10%!important;
    padding-right: 10%!important;

    .new-site-button {
        margin-top: 15px;
    }

    @media screen and (max-width: 750px) {
        padding-left: 5%!important;
        padding-right: 5%!important;
        .sites-container {
            justify-content: center;
            .sitebox {
                width: 100%;
            }
        }
        
    }

    .sites-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -12px
    }
}