.page.dashboard-about {
    textarea {
        overflow: hidden;
    }
    .title-div {
        display: flex;
        margin-bottom: 15px;
        h2 {
            display: inline-block!important;
            margin-right: 15px;
        }
    }

    .description-input {
        margin-bottom: 25px;
    }

    .save-button {
        margin-bottom: 25px;
    }
}